<ng-container *ngTemplateOutlet="headRight"></ng-container>
<ng-template #headRight>
  <div id="tools" class="bst-header-wrap">
    <!--
      <span *appScreenLessHidden="'375'" (click)="lockScreen()" class="bst-header-icon" nz-tooltip nzTooltipTitle="lock screen"
          nzTooltipPlacement="bottom">
        <i nz-icon nzType="lock"
          nzTheme="outline"></i>
      </span>
    -->

    <span *appScreenLessHidden="'320'" class="bst-header-icon" nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Search" (click)="showSearchModal()">
      <i nz-icon nzTheme="outline" nzType="search"></i>
    </span>
    <!--The comment is a button that pops up the outer connection -->
    <!-- <span *appScreenLessHidden="'375'" class="bst-header-icon" nz-tooltip nzTooltipTitle="OnChat help documentation"
          nzTooltipPlacement="bottom">
            <a href="https://docs.chat.hypergo.net/docs/intro/" target="_blank"><i nz-icon nzType="question-circle" nzTheme="outline"></i></a>
        </span>
    -->
    <span
      *appScreenLessHidden="'393'"
      #toogleFullScreenDir="appToggleFullscreen"
      class="bst-header-icon"
      appToggleFullscreen
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="toogleFullScreenDir.isFullscreenFlag ? 'Full Screen' : 'Exit Full Screen'"
    >
      <i *ngIf="toogleFullScreenDir.isFullscreenFlag; else exitFullTpl" nz-icon nzTheme="outline" nzType="fullscreen"></i>
      <ng-template #exitFullTpl>
        <i nz-icon nzTheme="outline" nzType="fullscreen-exit"></i>
      </ng-template>
    </span>

    <span class="bst-header-icon" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="noticeMenu">
      <nz-badge class="bst-badge" [nzCount]="11">
        <i nz-icon nzTheme="outline" nzType="bell"></i>
      </nz-badge>
    </span>
    <span class="bst-header-icon" nz-dropdown nzTrigger="click" [nzDropdownMenu]="userSettingMenu">
      <img class="avatar" alt="" src="/assets/images/default-face.png" />
      <span class="base-font-size">John DOE</span>
    </span>
    <nz-dropdown-menu #userSettingMenu>
      <div class="bg-white shadow-lg setting-wrapper">
        <div class="d-flex flex-column align-items-center user-setting-card px-2 py-4">
          <span class="fs-4 fw-bold text-center">johndoe</span>
          <nz-avatar class="my-2" nzIcon="user" nzSrc="/assets/images/default-face.png" [nzSize]="64" />
          <span class="fs-5 text-center px-3">John Doe</span>
          <span class="fs-6 text-center px-4 font-light">johndoe@mail.lt</span>
        </div>
        <ul nz-menu>
          <li nz-menu-item (click)="goPage('personal-center')">
            <i class="m-r-8" nz-icon nzTheme="outline" nzType="user"></i>
            <span>Personal Center</span>
          </li>
          <li nz-menu-item (click)="goPage('personal-setting')">
            <i class="m-r-8" nz-icon nzTheme="outline" nzType="setting"></i>
            <span>Personal settings</span>
          </li>
          <li nz-menu-item (click)="changePassWorld()">
            <i class="m-r-8" nz-icon nzTheme="outline" nzType="lock"></i>
            <span>Change Password</span>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="clean()">
            <i class="m-r-8" nz-icon nzTheme="outline" nzType="clear"></i>
            <span>Clear Cache</span>
          </li>
          <li nz-menu-item (click)="lockScreen()">
            <i class="m-r-8" nz-icon nzTheme="outline" nzType="lock"></i>
            <span>Lock Screen</span>
          </li>
          <li nz-menu-item>
            <div (click)="goLogin()">
              <i class="m-r-8" nz-icon nzTheme="outline" nzType="logout"></i>
              <span>Sign Out</span>
            </div>
          </li>
        </ul>
      </div>
    </nz-dropdown-menu>

    <span class="bst-header-icon" nz-dropdown nzTrigger="click" [nzDropdownMenu]="language">
      <i nz-icon nzTheme="outline" nzType="font-size"></i>
    </span>
    <nz-dropdown-menu #language="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li *ngFor="let lang of langList" nz-menu-item [nzSelected]="lang.selected" (click)="switchLang(lang)">{{ lang.label }}</li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <nz-dropdown-menu #noticeMenu="nzDropdownMenu">
    <app-home-notice></app-home-notice>
  </nz-dropdown-menu>
</ng-template>
